<script>
    function gotoInk(url) {
        window.location.href = url; 
    }
</script>
<% if(files.length > 0){ %>
    <div class="inks">
        <div><%= show %></div>
    </div>
<%} else {%>
    <div class="inks">
        <div class="alert">No inks to display</div>
    </div>
<%} %>