<% if(files.length > 0){ %>
    <div class="inks">
        <ul>
            <% files.forEach(function(file) { %>
                <li><a href="/show/<%= file %>"><%= file %></a></li>
            <% }); %>
        </ul>
    </div>
<%} else {%>
    <div class="inks">
        <div class="alert">No inks to display</div>
    </div>
<%} %>