<script>
    function gotoInk(url) {
        window.location.href = url; 
    }
</script>
<% if(files.length > 0){ %>

        <select onchange="gotoInk(this.value)" class="inkSelect">
            <% files.forEach(function(file) { %>
                <option value="./show/<%= file %>" <%= show == file ? 'selected="selected"' : '' %>><%= file %></option>
            <% }); %>
        </select>

<%} else {%>
    <div class="inks">
        <div class="alert">No inks to display</div>
    </div>
<%} %>