<!-- Include Header -->
<%- include('./partials/header') %>
<div class="main">
    <h2>.:: About ::.</h2>
    <p><%= subtitle %></p>    
</div>
<!-- Include Footer -->
<%- include('./partials/footer') %>