body{
    background: #000;
}
.main{
    background: #fff;
    min-height: 20em;
    margin: 1em;
    padding: 1em;
}
header{
    display: flex;
    justify-content:space-evenly;
}
.column {
    flex: 1;  /* This makes both columns take up equal width */
    padding: 0px;  /* Optional: Adds some space inside each column */
}
.views{
    background: #fff;
    margin: 1em;
    padding: 1em;
}
.TopTitle{
    color: #fff;
}
.inkName{
    font-size: 6em;
    color: #666;
    vertical-align: bottom;
    height: 100%;
}
.downloadLink{
    padding: 0 1em ;
    color: orange;

}
.inks{
    min-width: 10em;
    max-width: 80%;
    min-height: 7.7em;
    float: right;
    position: absolute;
    top: 1em;
    right: 1.5em;
    background-color: #eee;
}
.inks ul{
    display: flex;
    justify-content: space-between;

}
.inks li{
    margin-right: 10px;
    display: inline-block;
}
.inks select{
    font-size: 20px;
}
.inkSelect{
    font-size: 1em;
    color: #ffffff;
    background-color: #000;
}
.layerButtons{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 8.7rem;
    left: 1.5rem;
}
.layerButton {
    color: #666;
    background: white;
    border-radius: 5px;
    margin-right: 0.2rem;
    padding: 0.2rem 0.5rem;
}
.layerButton:hover{
    color: #f00;
    cursor: pointer;
}
.layerButton.inactive{
    color: #ccc;
    border-top: 2px solid red;
}
svg.inactive{
    display: none;
}
footer{
    text-align: center;
    color: #999;
}